<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>新增课程信息</title>
    <link rel="stylesheet" type="text/css" href="/edu/public/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>

<body class="container">
    <h1>新增课程信息</h1>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <form action="{:url('save')}" method="post" class="form-inline">
                <div class="form-group">
                    <label for="name">课程名:</label>
                    <input type="text" name="name" class="form-control" id="name" />
                </div>
                <div class="form-group">
                    <label>班级选择:</label>
                    {volist name="klasses" id="_Klass"}
                        <input type="checkbox" name="klass_id[]" id="klass_id_{$_Klass->id}" value="{$_Klass->id}" />
                        <label for="klass_id_{$_Klass->id}">{$_Klass->name}</label>
                    {/volist}
                </div>
                <button type="submit" class="btn btn-info">保存</button>
            </form>
        </div>
    </div>
   
</body>

</html>