{extend name="index"/} 
{block name="title"}课程信息管理{/block} 
{block name="h1"}课程信息管理{/block} 
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>课程名</th>
        <th>操作</th>
    </tr>
    {volist name="courses" id="_Course" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_Course->getData('name')}</td>
        <td>
            <a href="{:url('edit?id=' . $_Course->getData('id'))}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i>编辑</a> &nbsp;&nbsp;
            <a href="{:url('delete?id=' . $_Course->getData('id'))}" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i>删除</a>
        </td>
    </tr>
    {/volist}
</table>
{/block} 
{block name="page"} {$courses->render()} {/block}