{extend name="index"/} 
{block name="title"} 学生信息管理 {/block} 
{block name="h1"} 学生信息管理 {/block} 
{block name="content"}
<table class="table table-hover table-bordered">
                <tr class="info">
                    <th>序号</th>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>性别</th>
                    <th>email</th>
                    <td>创建时间</td>
                    <th>班级</th>
                    <th>辅导员</th>
                    <th>操作</th>
                </tr>
                {volist name="students" id="_Student" key="key"}
                <tr>
                    <td>{$key}</td>
                    <td>{$_Student->getData('name')}</td>
                    <td>{$_Student->getData('num')}</td>
                    <td>{$_Student->sex}</td>
                    <td>{$_Student->getData('email')}</td>
                    <td>{$_Student->create_time}</td>
                    <td>{$_Student->klass->name}</td>
                    <td>{$_Student->klass->teacher->name}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{:url('edit?id=' . $_Student->getData('id'))}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a> &nbsp;
                        <a class="btn btn-danger btn-sm" href="{:url('delete?id=' . $_Student->getData('id'))}"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>
                    </td>
                </tr>
                {/volist}
            </table>
{/block} 
{block name="page"} 
{$students->render()}
{/block}