{extend name="edit" /} 

{block name="title"} 
{eq name="Teacher->id" value=""}添加教师{else /}编辑教师{/eq} 
{/block} 

{block name="h1"} 
{eq name="Teacher->id" value=""}添加教师{else /}编辑教师{/eq} 
{/block} 

{block name="content"} 
{php}$action = request()->action() === 'add' ? 'insert' : 'update';{/php}
<form action="{:url($action)}" method="post" class="form-inline">
    <div class="form-group">
        <label>教师姓名:</label>
        <input type="hidden" name="id" value="{$Teacher->getData('id')}" />
        <input type="text" name="name" class="form-control" value="{$Teacher->getData('name')}" />
    </div>
    <div class="form-group">
        <label>用户名:</label>
        {eq name="Teacher->username" value=""}
        <input type="text" name="username" class="form-control" value="{$Teacher->username}" /> {else /}{$Teacher->username} {/eq}
    </div>
    <div class="form-group">
        <label>性别:</label>
        <select name="sex" class="form-control">
            <option value="0">男</option>
            <option value="1" {eq name="Teacher->getData('sex')" value="1" }selected="selected" {/eq}>女</option>
        </select>
    </div>
    <div class="form-group">
        <label>邮箱:</label>
        <input type="email" name="email" class="form-control" value="{$Teacher->getData('email')}" />
    </div>
    <button type="submit" class="btn btn-info">保存</button>
</form>
{/block}