{extend name="index"/} 
{block name="title"} 教师信息管理 {/block} 
{block name="h1"} 教师信息管理 {/block} 
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>邮箱</th>
        <th>用户名</th>
        <th>操作</th>
    </tr>
    {volist name="teachers" id="_Teacher" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_Teacher->getData('name')}</td>
        <td>{eq name="_Teacher->getData('sex')" value='0'}男{else /}女{/eq}</td>
        <td>{$_Teacher->getData('email')}</td>
        <td>{$_Teacher->getData('username')}</td>
        <td>
            <a href="{:url('edit?id=' . $_Teacher->getData('id'))}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i>编辑</a> &nbsp;&nbsp;
            <a href="{:url('delete?id=' . $_Teacher->getData('id'))}" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</a>
        </td>
    </tr>
    {/volist}
</table>
{/block} 
{block name="page"} 
{$teachers->render()}
{/block}