<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>新增班级信息</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>

<body class="container">
    <h1>新增班级信息</h1>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <form action="{:url('save')}" method="post" class="form-inline">
                <div class="form-group">
                    <label for="name">课程名称:</label>
                    <input type="text" name="name" class="form-control" id="name" />
                </div>
                <div class="form-group">
                    <label for="teacher">教师名:</label>
                    <select name="teacher_id" class="form-control" id="teacher">
                        {volist name="teachers" id="_Teacher"}
                        <option value="{$_Teacher->getData('id')}">{$_Teacher->getData('name')}</option>
                        {/volist}
                    </select>
                </div>
                <button type="submit" class="btn btn-info">保存</button>
            </form>
            <hr />
        </div>
    </div>
</body>

</html>