{extend name="index"/} 
{block name="title"}班级信息管理{/block}
{block name="h1"}班级信息管理{/block} 
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>名称</th>
        <th>辅导员</th>
        <th>操作</th>
    </tr>
    {volist name="klasses" id="_Klass" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_Klass->getData('name')}</td>
        <td>{$_Klass->teacher->name}</td>
        <td>
            <a class="btn btn-primary" href="{:url('edit?id=' . $_Klass->getData('id'))}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
            <a class="btn btn-danger " href="{:url('delete?id=' . $_Klass->getData('id'))}"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>&nbsp;
        </td>
    </tr>
    {/volist}
</table>
{/block}
{block name="page"}
{$klasses->render()}
{/block}